html,
body {
  font-family: 'Lato',sans-serif;
  background-color: #333333;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
}

#header nav {
  height: 10vh;

}
.nav-links{
  display: flex;
  list-style:none;
  width:50%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
}
.nav-links li a{
  color:white;
  text-decoration: none;

}

#bm {
  position: relative;
  z-index: 0;
  width: 1000px;
  height: 563px;
}

@media screen and (max-width:768px){
  .nav-links{
    position: fixed;
    height: 100vh;
    width:100%;
    flex-direction: column;
  }
}