@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,100italic,300italic");

html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    color: rgba(255, 255, 255, 0.75);
    font-family: "Roboto", Helvetica, sans-serif;
    font-size: 15pt;
    font-weight: 100;
    line-height: 1.75em;
    vertical-align: baseline;
    background: #1c1d26;
}

#page-wrapper {
    padding-top: 3.5em;
}

#header {
    background: rgba(39, 40, 51, 0.965);
    box-shadow: 0 0 0.25em 0 rgba(0, 0, 0, 0.25);
    cursor: default;
    height: 3.5em;
    left: 0;
    line-height: 3.5em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

a {
    -moz-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    border-bottom: dotted 1px;
    color: #e44c65;
    text-decoration: none;
}

a:hover {
    color: #e44c65 !important;
    border-bottom-color: transparent;
}

#header h1 {
    height: inherit;
    left: 1.25em;
    line-height: inherit;
    margin: 0;
    position: absolute;
    top: 0;
}

#header nav {
    position: absolute;
    right: 1em;
    top: 0;
}

#header nav ul {
    margin: 0;
}

#header nav ul li {
    display: inline-block;
    margin-left: 1em;
}

#header nav ul li a,
#header nav ul li span {
    border: 0;
    color: inherit;
    display: inline-block;
    height: inherit;
    line-height: inherit;
    outline: 0;
}

#header nav ul li a.button,
#header nav ul li span.button {
    height: 2em;
    line-height: 2em;
    padding: 0 1.25em;
}

#header nav ul li a:not(.button):before,
#header nav ul li span:not(.button):before {
    margin-right: 0.5em;
}

#header nav ul li.active>a,
#header nav ul li.active>span {
    color: #e44c65;
}

#header nav ul li>ul {
    display: none;
}

body.landing #page-wrapper {
    padding-top: 0;
}

body.landing #header {
    background: transparent;
    box-shadow: none;
    position: absolute;
}

/* Icon */

.icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
}

.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    text-transform: none !important;
    font-family: 'Font Awesome 5 Free';
    font-weight: 400;
}

.icon>.label {
    display: none;
}

.icon:before {
    line-height: inherit;
}

.icon.solid:before {
    font-weight: 900 !important;
}

.icon.brands:before {
    font-family: 'Font Awesome 5 Brands' !important;
}

.icon.alt {
    text-decoration: none;
}

.icon.alt:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    text-transform: none !important;
    font-family: 'Font Awesome 5 Free';
    font-weight: 400;
}

.icon.alt:before {
    color: #1c1d26 !important;
    text-shadow: 1px 0 0 #ffffff, -1px 0 0 #ffffff, 0 1px 0 #ffffff, 0 -1px 0 #ffffff;
}

.icon.major {
    background: #272833;
    border-radius: 100%;
    cursor: default;
    display: inline-block;
    height: 6em;
    line-height: 5.65em;
    margin: 0 0 2em 0;
    text-align: center;
    width: 6em;
}

.icon.major:before {
    font-size: 2.25em;
}

.icon.major.alt {
    text-decoration: none;
}

.icon.major.alt:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    text-transform: none !important;
    font-family: 'Font Awesome 5 Free';
    font-weight: 400;
}

.icon.major.alt:before {
    color: #272833 !important;
    text-shadow: 1px 0 0 #ffffff, -1px 0 0 #ffffff, 0 1px 0 #ffffff, 0 -1px 0 #ffffff;
}